*{

font-family: Poppins, Inter ;

}
.heading{

}

  .navbar{
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: black;
    width:1500px;
    margin-left: 200px;
  }
  .navbar > div {
    
    width: 400px;
    margin: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: white;
    font-style: Space Grotesk, Oleo Script
  }
  .heading{
   text-align: left;
  }
  ul{
    list-style-type: none;
  }
  ul li{
    display:inline-block;   
 }
 ul li a:hover{
 
  color:blueviolet
 }
 .flexcointainer0{
  background-image: url("/assets/images/image1.png");
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-repeat: repeat-x;
  height: 50vh;
  width: 1500px;
  background-size:cover;
  background-position:center; 
  margin-left: 200px;
}

.flexcointainer0> div {
  width: 600px;
  margin: 40px;
  
}
.flexcointainer0 img{
  width: 600px;
  height: fit-content;
}
 .flexcointainer1{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer1> div {
  width: 600px;
  margin: 20px;
  
}
.flexcointainer1 img{
  width: 800px;
  height: fit-content;
}
 .flexcointainer3{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer3> div {
  width: 300px;
  margin: 40px;
  
}
.clear{
  clear:both;
  content:"";
  display :block;
}

.location{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.location p,h3{
  text-align: center;
}
.flexcointainer3 img{
  width: 300px;
  height: fit-content;
}
.flexcointainer4{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer4> div {
  width: 300px;
  margin: 40px;
  line-height: 5px;
  
}
.flexcointainer5{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer5> div {
  width: 300px;
  margin: 40px;
  line-height: 5px;
  
}
.flexcointainer5 img{
  width: 300px;
  height: fit-content;
}
.flexcointainer6{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer6> div {
  width: 300px;
  margin: 10px;
  line-height: 5px;
  
}
.flexcontainer7{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcontainer7> div {
  width: 400px;
  margin: 10px;
  font-size: 100;
 
  
}
.flexcontainerimage{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcontainerimage div {
  width: 400px;
  margin: 40px;  
}
.flexcontainerimage img{
  width: 50px;
  height: fit-content;
}
.ratings{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;  
}
.ratings> div {
  width: 400px;
  margin: 10px;
 
}
.flexcontainertouch{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:black;
  width: 1500px;
  margin-left: 200px;
  margin-bottom: 5px;
  
}
.flexcontainertouch> div {
  width: 400px;
  margin: 10px;
  line-height: 20px;
  color:white
}
.footer{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:black;
  width: 1500px;
  margin-left: 200px;
}
.footer> div {
  width: 400px;
  margin: 40px;
  color:white
}
.button{
  background-color: #ED661F;
  
}
.checked {
  color: orange;
}
