*{

font-family: Poppins, Inter ;

}
.button2 {
  width: 150px;
  height: 50px;
  background-color: #ED661F;
  color:white;
  font-size: large;
  margin-left: 100px;
  
}

  .navbar{
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: black;
    width:1500px;
    margin-left: 200px;
  }
  .navbar > div {
    
    width: 400px;
    margin: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: white;
    
  }
  .heading h4{
   text-align: left;
  }
  ul li a{
    text-decoration: none;
    color: white;
  }
  ul li{
    display:inline-block;   
 }
 ul li a:hover{
 
  color:blueviolet
 }
 .flexcointainer0{
  background-image: url("../images/image 1.png");
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-repeat: repeat-x;
  height: 50vh;
  width: 1500px;
  background-size:cover;
  background-position:center; 
  margin-left: 200px;
 }

.flexcointainer0> div {
  width: 600px;
  margin: auto;
 
 
  
  }
.button1 {
  width: 200px;
  margin: 40px;
  height: 80px;
  background-color: #ED661F;
  color:white;
  font-size: large;
  
}
.flexcointainer0 img{
  width: 600px;
  height: fit-content;
}
 .flexcointainer1{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
  height: 30vh
}
.flexcointainer1> div {
  width: 600px;
  margin: 20px;
 
  
}
.flexcointainer1 img{
  width: 800px;
  height: 30vh;
}
 .flexcointainer3{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer3> div {
  width: 300px;
  margin: 40px;

  
}

.clear{
  clear:both;
  content:"";
  display :block;
}

.location{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.location p,h3{
  text-align: center;
  
}
.location1 h2{
  text-align: left;
  margin-left: 280px;
}
.flexcointainer3 img{
  width: 300px;
  height: 20vh;
}
.flexcointainer4{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer4> div {
  width: 300px;
  margin: 40px;

  
}
.flexcointainer5{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer5> div {
  width: 300px;
  margin: 40px;
  
  
}
.flexcointainer5 img{
  width: 300px;
  height: 20vh;
}
.flexcointainer6{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
}
.flexcointainer6> div {
  width: 300px;
  margin: 40px;
  
}
.customers{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;
  margin-left: 400px;
  margin-bottom:  4px;
  box-shadow: 5px 5px 5px whitesmoke;
 }
.customers> div {
  width: 300px;
  margin: 1px;
  
  
}


.ratings{
 
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:white;  
}
.ratings> div {
  width: 400px;
  margin: 40px;
  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
}
.ratings img{
  width: 50px;
  height: fit-content;
}

.flexcontainertouch{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:black;
  width: 1500px;
  margin-left: 200px;
  margin-bottom: 5px;
  
}
.flexcontainertouch> div {
  width: 400px;
  margin: 10px;
  
  color:white
}
.footer{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color:black;
  width: 1500px;
  margin-left: 200px;
}
.footer> div {
  width: 400px;
  margin: 40px;
  color:white
}
.button{
  background-color: #ED661F;
  
}
.checked {
  color: orange;
  font-size:600%;
  
}

.new{
  text-align: left;
  margin-left: 200px;
  color: black;
  font-size: large;
  
}
.see{
  text-align: Right;
  margin-right: 200px;
  }
  
  .flexcointainer1 h3{
    margin-right: 200px;
    text-align: left;
  }
  .border{
  justify-content: center;
  background-color:grey;
  width: 1500px;
  height: 4vh;
  margin-left: 200px;
  margin-bottom: 5px;
  }
